@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*Google yazı fontlarını çekip ayarlıyorum*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/*logo ve nav barı içine alan kısmı tasarlıyorum*/
.kutu{
  width: 100%;
  height: 100vh;
  background-color: #1e2227;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e2227;
  z-index: 1;
}

.logo {
  width: 120px;
  cursor: pointer;
}
/*nav bar linklerini ayarlıyorum*/
nav .navbar-linkleri{
  display: flex;
  column-gap: 20px;
}
/*nav bar linklerinin ahref yönlendirmelerini ayarlıyorum*/
nav .navbar-linkleri a{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.yazi-sira{
  height: 100%;
  width: 100%;
  display: flex;
}

.sira-1,
.yazi-2 {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.yazi-2 {
  background-color: red;
  padding-top: 8%;
  position: relative;
}

.sira-1 {
  padding-left: 8%;
}

.sira-1 h1 {
  font-size: 74px;
  line-height: 100px;
  margin-bottom: 5px;
}
 /*sıra bir içindeki satır büyüklüklerini ayarlıyorum*/
.sira-1 p {
  padding-right: 10px;
  line-height: 1.4;
}
 /*sıra birin içindeki fiyatalrı ayarlıyorum*/
.sira-1 .fiyat{
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  margin-top: 10px;
}

.sira-1 .fiyat h2 {
  font-size: 25px;
  line-height: 60px;
  margin-bottom: 500;
  line-height: 1;
}

.sira-1 .buttons {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
 /*sıra birdeki buttonu ayarlıyorum*/
.sira-1 button,
.sira-1 a {
  display: inline-block;
  width: fit-content;
  padding: 18px 50px;
  background: red;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.sira-1 button:hover,
.sira-1 a:hover {
  background: #aa0505;
  transform: translateY(-5px);
}
 /*Ayakkabı fotoğraflarını ayarlıyorum*/
.urun-fotograflar {
  width: 100%;
  text-align: center;
}

.urun-fotograflar img {
  width: 80%;
  transform: rotate(-20deg);
  transition: transform 0.5s;
}

.urun-fotograflar img:hover {
  transform: translate(-20px, 10px) rotate(0deg);
}
 /*küçük fotoğrafların ayarlamalarını yapıyorum*/
.alt-kucuk-foto {
  display: flex;
  width: 80%;
  margin: 70px auto 0;
  align-items: center;
  justify-content: space-around;
}

.kucuk-foto {
  width: 80px;
  height: 80px;
  background-color: #ccc;
}

.kucuk-foto img {
  width: 120px;
  transform: rotate(-20deg);
  transition: transform 0.5s;
}

.kucuk-foto img:hover {
  transform: translate(-20px, 10px) rotate(0deg);
}

.kucuk-foto:nth-child(1) {
  background: #b9c8ff;
}

.kucuk-foto:nth-child(2) {
  background: #b1ffdd;
}

.kucuk-foto:nth-child(3) {
  background: #ff6767;
}

.kucuk-foto:nth-child(4) {
  background: #9dff90;
}
 
.yazi-2 h2 {
  position: absolute;
  left: 10%;
  top: 25%;
  font-size: 130px;
  opacity: 0.3;
}
